body{
background-color: #000;
text-align: center;
font-family: verdana, sans-serif;
 }
 
 .header--main{
    font-size: 50px;
    font-weight: normal;
    color: white;
 }
 .header--secondary{
    font-size: 42px;
    font-weight: 300;
    color: white;
 }
 .header--subheader{
    font-size: 21px;
    font-weight: 300;
    color: grey;
 }
 
 .link--cta{
   font-size: 16px;
   color:aquamarine
 }